<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnedmonk.math"
    android:versionCode="1"
    android:versionName="1.0" >

	
	
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
       >
        <activity
            android:name="com.learnedmonk.math.activity.MainActivity"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 	android:name="com.learnedmonk.math.activity.TablesActivity" android:theme="@style/Theme.AppCompat"/>
        <activity 	android:name="com.learnedmonk.math.activity.PowersActivity" android:theme="@style/Theme.AppCompat"/> 
        <activity android:name="com.learnedmonk.math.activity.QuizActivity" />
        <activity android:name="com.learnedmonk.math.activity.ScoresActivity" />
       	<activity android:name="com.learnedmonk.math.activity.QuizTimerActivity" android:noHistory="true"/>
      </application>

</manifest>
